<header>
  <div class="container-fluid head-wrap">
    <div class="navwrap">
      <h1 class="site-title">
        <a href="<%- url_for() %>" id="logo"><%= config.title %></a>
      </h1>
      <button id="mobile-btn">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <ul class="main-nav">
        <% for (var i in theme.menu){ %>
          <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </div>
    <div id="mobile-nav" style="height:0px;">
      <ul>
        <% for (var i in theme.menu){ %>
          <li><a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a></li>
        <% } %>
      </ul>
    </div>
  </div>
</header>

<section>
  <div class="banner-wrap">
    <div class="container banner-center">
      <% if (config.subtitle){ %>
        <h2><%= config.subtitle %></h2>
        <p><%= config.says %></p>
      <% } %>
    </div>
  </div>
</section>